<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo App</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">

</head>
<body>
	<h1>Todo List</h1>
	<div>Add a new todo item:
		<form action="{{ url_for('add') }}" method="POST">
			<input type="text" name="todoitem">
			<input type="submit" value="Add Item" class="button">
		</form>
	</div>
	<div>
		<h2>Incomplete Items</h2>
		<ul>
			{% for task in not_done %}
			<li style="font-size: 30pt" class='mark'>{{ task.task }} <a href="{{ url_for('complete', id=task.id) }}">Mark As Complete</a></li>
                <a href="{{ url_for('delete', id=task.id) }}">Delete</a></li>

            {% endfor %}
		</ul>
		<h2>Completed Items</h2>
		<ul>
			{% for task in done %}
			<li style="font-size: 30pt">{{ task.task }}</li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>
